#title {
  color: #fff;
  background-color: #ff4c68;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

/* Headings */

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 20% 5%;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.5;
}

h3 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
  /* 회색 */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  padding-left: 3%;

  width: 65%;
  transform: rotate(25deg);

  position: absolute;
}

/* z-index를 사용하기 위해서는 
아래에 있는 화면이 absolute
위에 있는 화면은 relative여야한다.
그리고 위에 있는 화면이 z-index>0 이상 가져야한다. */

/* features section */

#features {
  padding: 7% 15%;

  /* features를 중앙으로 배치하기 위함 */
  background-color: #fff;
  /* 기존의 흰 배경색은 디폴트 값이였다 */
  position: relative;
  z-index: 1;
}

.features-box {
  text-align: center;
  /* 텍스트 중앙배열 */
  padding: 5%;
  /* <p>태그의 텍스트가 너무 길게 한줄인 것을
  두줄로 나타내기위해 패딩을 주었음 */
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
  /* icon위에 마우스를 갖다대면 
색깔이 변하도록 함. */
}

/* Developers Section/ */

#Developers {
  padding: 7% 15% 2%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
.developer {
  margin-top: 7%;
}
.develope {
  text-align: center;
}

.develope2 {
  text-align: center;
  margin-top: 5%;
}
.happy {
  width: 20%;
}

.happy2 {
  width: 20%;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  border-radius: 100%;
  /* 사진 둥글게 */
  margin: 20px;
}

#press {
  padding-bottom: 3%;
  text-align: center;
  background-color: #ff4c68;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing_h2 {
  font-size: 3rem;
  text-align: left;
}

.card_head {
  font-size: 3rem;
}

/* selector */

.selector_frame {
  width: 400px;
  height: 400px;
}

.container #heading .title {
  color: red;
}

/* z-index */

.z_index_frame {
  width: 400px;
  height: 400px;
}

.zindex {
  height: 100px;
  width: 100px;
  border: 1px solid;
  position: absolute;
  /* z-index를 사용하기위해서는 position absolute 여야한다. */
}

.red {
  background-color: red;
  z-index: 1;
}

.yellow {
  background-color: yellow;
  left: 20px;
  top: 20px;
  z-index: 0;
}

.blue {
  background-color: blue;
  left: 40px;
  top: 40px;
  z-index: -1;
}

/* cta */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

#cta_h3 {
  font-size: 2rem;
  margin-bottom: 7%;
}

#cta_container {
  padding: 10% 20% 10%;
}

/* footer */
#footer {
  text-align: center;
}
#footer_container {
  padding: 10% 20% 10%;
}

.footer-logo {
  margin: 20px 7px 10px;
}
/* media query  */

.media_query {
  width: 400px;
  height: 400px;
}

/* @media (min-width: 900px) and (max-width: 1200px) {
  .media_h1 {
    color: red;
  }
} */

@media (max-width: 995px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
