@media (max-width: 500px) {
  html {
    font-family: "notokr", sans-serif;
    font-size: 14px;
  }

  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Noto Sans KR", sans-serif;
  }
  .food_main .submenu1 {
    margin-left: 15px;
    display: table;
    width: 90%;
    table-layout: fixed;
    border-bottom: 1px solid;
    color: #dfdfdf;
  }

  .food_main ol,
  ul,
  li {
    list-style: none;
  }

  .food_main .submenu1 li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
  }

  .food_main .submenu1 li a {
    font-size: 16px;
    font-weight: 400;
    color: #ababab;
    line-height: 30px;
    text-decoration: none;
  }
  .food_main .submenu1 li a.on {
    color: #eb1c23;
    border-bottom: 2px solid #eb1c23;
    padding: 0 5px 3px;
  }

  .submenu1 li a:hover {
    color: #eb1c23;
    border-bottom: 2px solid #eb1c23;
    padding: 0 5px 3px;
  }

  .food_main select {
    width: 90%;
    padding: 11px;
    margin-left: 15px;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
    font-family: inherit;
    background: url("arrow.jpg") no-repeat 95% 50%;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .food_main select:active,
  select:hover {
    outline-color: #eb1c23;
    /* border: none; */
  }

  .food_main select::-ms-expand {
    display: none;
  }

  .food_main .inputdiv {
    display: flex;
    justify-content: center;
  }
  .food_main .inputdiv .Search {
    width: calc(90% - 26px);
    padding: 13px;
    margin-top: 3%;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
  }
  .food_main .Search:focus {
    outline: 2px solid #eb1c23;
    border: none;
  }
  .food_main .hr1 {
    margin-top: 20px;
    height: 10px;
    border: none;
    background-color: #dfdfdf;
  }
  .div1 {
    /* border: 3px solid #0f0; */
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
  }
  .food_main .img {
    margin-left: 2px;
    width: 140px;
    height: 120px;
    background: #000;
    border-radius: 8px;
  }
  .food_main .div2 {
    margin-left: 15px;
  }
  .food_main .div2 > div {
    font-size: 16px;
  }
  .food_main .div2 > div:nth-child(1) > span:nth-child(2) {
    color: #00aced;
    font-size: 16px;
  }
  .food_main .div2 > div:nth-child(2) {
    font-weight: 500;
    margin-top: 5px;
  }
  .food_main .price {
    display: flex;
  }
  .food_main .money {
    font-size: 15px;
  }
  .food_main .money2 {
    margin-left: 1.5%;
    color: red;
    font-size: 15px;
  }
  .food_main .div2 > div:nth-child(4) {
    margin-top: 3px;
    font-size: 14px;
  }

  .food_main .seller {
    display: flex;
  }

  .food_main .seller_name {
    font-size: 14px;
  }

  .food_main .upload_date {
    font-size: 14px;
  }
  /* .div2 > div:nth-child(3) {
      color: #eb1c23;
    } */
  /*    .food_main .div2 > div:nth-child(4) {
      margin-top: 3px;
      font-size: 14px;
      color: #8a8a8a;
    }
    .food_main .div2 > div:nth-child(5) {
      font-size: 14px;
      color: #8a8a8a;
    } */
  .food_main .Apply {
    margin-left: 15px;
    margin-top: 10px;
    width: 90%;
    height: 40px;
    border: solid 1px #ababab;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px;
  }
  .food_main .Apply2 {
    margin-left: 15px;
    margin-top: 10px;
    width: 90%;
    height: 40px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px;
  }
  .food_main .hr2 {
    border: none;
    height: 0.5px;
    margin-top: 10px;
    background-color: #dfdfdf;
  }
  .food_main .now {
    width: 55px;
    height: 20px;
    background-color: #f06421;
    color: white;
    font-size: 13px;
    padding: 3px 7px;
    border-radius: 5px;
  }
  .food_main .end {
    width: 55px;
    height: 20px;
    background-color: #ababab;
    color: white;
    font-size: 13px;
    padding: 3px 7px;
    border-radius: 5px;
  }
  .food_main .Apply_layout {
    width: 95%;
    display: flex;
  }
  .food_main .rred {
    color: #eb1c23;
  }

  .food_main .bblue {
    color: #00aced;
  }

  .food_main .button_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .food_main .used_button {
    border: none;
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    background: #eb1c23;
    border-radius: 4px;
    height: 40px;
  }
  .food_main .black_button {
    border: none;
    width: 90%;
    margin-top: 6%;
    margin-bottom: 3%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    background: rgb(67, 67, 67);
    border-radius: 4px;
    height: 40px;
  }
}
